.main-header {
	position: relative;
	background: url(../img/carrito.jpg);
	background-size: cover;
	min-height: 610px;
}

.main-header2 {
	position: relative;
	background: url(../img/fondobicolor.jpg);
	background-size: cover;
	min-height:760px;
}



.background-overlay {
	position: absolute;
	background: rgba(116, 125, 140,.3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.background-overlay1 {
	position: absolute;
	background: rgba(223, 230, 233,1.0);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.form-control, .btn {
	border-radius:0;
}

.rubik {
	font-family: 'rubik';

}

.poppins {
	font-family: 'poppins'
}

.margen {
	padding: 150px 0 100px 0;
}

.mycolortu {
	color: #1bd03f;
}
.fondocolortu {
	background-color: #1bd03f;
}

.colorborde {
	border-color: rgb(27, 208, 63);
}
